In [1]:
import sys
sys.path.append('./libs')

import pandas as pd
from lib_cleaner import twcleaner
from lib_cleaner import is_a_word
from lib_ini import read_batch_csv
from lib_ini import load_criptcurren
from lib_current import dict_currencies


"""
Data set:

https://www.kaggle.com/ayhmrba/elon-musk-tweets-2010-2021?select=2021.csv

Public domain dataset.
"""
df = read_batch_csv(2010, 2021, './data/')
currencies = dict_currencies()

In [2]:
df

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,15434727182,15434727182,1.275676e+12,2010-06-04 18:31:57,0,NaN,"Please ignore prior tweets, as that was someon...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
0,0,152153637639028736,152151847614943233,1.325111e+12,2011-12-28 22:27:08,0,NaN,@TheOnion So true :),en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1,151809315026636800,151809315026636800,1.325029e+12,2011-12-27 23:38:55,0,NaN,If you ever wanted to know the *real* truth ab...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,2,151338939389706242,151338939389706242,1.324917e+12,2011-12-26 16:29:50,0,NaN,Walked around a neighborhood recently rebuilt ...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,3,151337237429239808,151337237429239808,1.324917e+12,2011-12-26 16:23:04,0,NaN,"It was Xmas, so we brought presents for the ki...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12334,12334,142881284019060736,142881284019060736,1.322901e+12,2011-12-03 08:22:07,0,NaN,That was a total non sequitur btw,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12335,12335,142880871391838208,142880871391838208,1.322900e+12,2011-12-03 08:20:28,0,NaN,"Great Voltaire quote, arguably better than Twa...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12336,12336,142188458125963264,142188458125963264,1.322735e+12,2011-12-01 10:29:04,0,NaN,I made the volume on the Model S http://t.co/...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12337,12337,142179928203460608,142179928203460608,1.322733e+12,2011-12-01 09:55:11,0,NaN,Went to Iceland on Sat to ride bumper cars on ...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
12338,12338,15434727182,15434727182,1.275676e+12,2010-06-04 18:31:57,0,NaN,"Please ignore prior tweets, as that was someon...",en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [3]:
df=twcleaner(df,['tweet','date','created_at'],currencies)

./libs/lib_cleaner.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['MATCHING'] = df2[lista_columnas[0]]

date

/home/emilio/.local/lib/python3.8/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
./libs/lib_cleaner.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(subset=['MATCHING'], inplace=True)

In [4]:
df.sample(15)

,TWEET,DATE,UT,MATCHING
7108,@physorg_com @ETH_en @PNASNews ETH beam heh heh,2018-08-13 12:44:43,1.534164e+12,{Ethereum}
107,@ThisIsSandeepG Not true. A friend sent me par...,2017-11-28 02:08:12,1.511835e+12,{Bitcoin}
5875,@VitalikButerin Stop giving away free ETH! 不不,2019-04-30 01:44:32,1.556589e+12,{Ethereum}
107,@ThisIsSandeepG Not true. A friend sent me par...,2017-11-28 02:08:12,1.511835e+12,{Bitcoin}
1630,@jwangARK @wintonARK Not exactly GPUs for NN. ...,2020-08-25 01:55:43,1.598321e+12,{Polkadot}
5949,"@coindesk That said, I still only own 0.25 BTC...",2019-02-21 10:44:32,1.550746e+12,{Bitcoin}
5253,@VitalikButerin Stop giving away free ETH! 不不,2019-04-30 01:44:32,1.556589e+12,{Ethereum}
9279,@ThisIsSandeepG Not true. A friend sent me par...,2017-11-28 02:08:12,1.511835e+12,{Bitcoin}
1848,@VitalikButerin Stop giving away free ETH! 不不,2019-04-30 01:44:32,1.556589e+12,{Ethereum}
296,"@itsALLrisky Doge appears to be inflationary, ...",2021-02-08 05:27:36,1.612762e+12,{Bitcoin}
7676,@McMurchie @alexmd2 @Techmeme @CatherineShu At...,2018-08-28 16:50:51,1.535475e+12,{Ethereum}
8486,Pale blue dot https://t.co/KZj3I55EYl,2018-02-04 19:26:10,1.517772e+12,{Polkadot}
8431,@DeadlyBananas @MichaelAVaughn Not sure. I let...,2018-02-22 09:16:02,1.519291e+12,{Bitcoin}
5081,Pale blue dot https://t.co/KZj3I55EYl,2018-02-04 19:26:10,1.517772e+12,{Polkadot}
5026,@DeadlyBananas @MichaelAVaughn Not sure. I let...,2018-02-22 09:16:02,1.519291e+12,{Bitcoin}

In [5]:
df.shape

(33, 4)